tensorflow>=2.8.0
PyQt6>=6.0.0
opencv-python>=4.11.0.86.0
matplotlib>=3.10.1
seaborn>=0.13.2
pandas>=1.3.0
numpy>=1.21.0
scikit-learn>=1.0.0
Pillow>=11.2.1
h5py>=3.1.0
scipy>=1.15.2
kaggle>=1.7.4.2
karas>=3.9.2
tensorflow_keras>=0.1	0.1
